Parameter value "" (quoted-string, empty string value)

I believe the current parsing algorithm is intended to describe a superset of the RFC grammar, but in one respect it appears to depart:

[§ 4.4 Parsing a MIME type](https://mimesniff.spec.whatwg.org/#parsing-a-mime-type)

In step 7’s substeps, when the value portion of a parameter is a quoted string, the _parameterValue_ being assembled is the string value (that is, with escapes resolved and without the surrounding quotation marks).

In step 8, the resulting key-value pair is only appended if _“parameterValue is not the empty string.”_

Contrast with the grammar in the RFCs, where `key=""` is permitted (the quoted portion is the production [quoted-string, RFC 7230 § 3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6)). For this input, _parameterValue_ will have been the empty string, so the pair will be ignored.

Is this an intentional departure, am I missing another step here, or is it a mistake?

Thanks for spotting that, that is unintentional!

cc @hsivonen MattMenke2