Content-Type parsing (MIME type parsing)

I looked into MIME type parsing to figure out how to make progress with https://github.com/whatwg/fetch/pull/579 and https://github.com/httpwg/http11bis/issues/33. However, it doesn't seem like there's much interoperability or good places to start.

For instance the following decodes as UTF-8 in Chrome and Firefox, but windows-1252 in Edge and Safari (inspired by http://searchfox.org/mozilla-central/rev/4b79f3b23aebb4080ea85e94351fd4046116a957/netwerk/base/nsURLHelper.cpp#957):
```
def main(request, response):
   response.headers.set("content-type", "text/html;charset=windows-1252,text/html;charset=utf-8")
   response.content = "\xC2\xB1"
```
Only Chrome and Firefox have a modicum of MIME type validation happening for `data:` URLs, but even that's rather limited and broken (e.g., unknown parameters get dropped, but `image/gif;charset=x` is fine).

It seems that anything here would have to be quite forgiving to maintain the status quo of not bailing if a MIME type is invalid (i.e.., treat `text/html;` as `text/html` and not as an error), but there's also quite some flexibility. And then there's the question of whether strings need to be simply passed through to `Blob` and such or if there should be some validation step to normalize input (Chrome and Firefox appear to lowercase all input there).

What are all of the contexts that MIME type-like things are parsed? Ones that I know of:
- the `Content-Type` header
- various content attributes in HTML
- `video.canPlayType()`, `MediaSource.isTypeSupported()` and `MediaRecorder.isTypeSupported()`

Are there others? It's probably not the same parser used in all contexts.

* `Blob`'s type
* `Response` and `Request`  parse `Content-Type` for later use by `Blob`'s type
* `data:` URLs
* Drag and drop API
* `registerContentHandler()`

It's all rather messy indeed.

`Content-Type` is hard to test as you can only really tell what happens by navigating to the resource. And that doesn't really tell you which parameters got preserved and such, but it does tell you if it was recognized as `text/html` and `charset` was found.

html/semantics/embedded-content/the-img-element/update-the-source-set.html has evidence (and tests!) that "broken" MIME types such as `image/gif;`, `image/gif;encodings`, and `image/gif;encodings=` do not get rejected by browsers meaning the RFC for MIME types is wrong in how parsing is supposed to happen.

If it helps, I put this wiki page together back in the day:

https://wiki.whatwg.org/wiki/Contexts

I also tried to assemble a list of source code locations related to MIME sniffing:

https://wiki.whatwg.org/wiki/MIME_Sniffing

Note that Content-Type header parsing also depends.  See https://bugzilla.mozilla.org/show_bug.cgi?id=1210302 where we ended up needing to use different parsers for the request and response Content-Type headers.

Firefox:

> We do have a MIME type parser. It has two entrypoints: http://searchfox.org/mozilla-central/rev/05c4c3bc0cfb9b0fc66bdfc8c47cac674e45f151/netwerk/base/nsINetUtil.idl#18-32 (request header) and http://searchfox.org/mozilla-central/rev/05c4c3bc0cfb9b0fc66bdfc8c47cac674e45f151/netwerk/base/nsINetUtil.idl#35-52 (response header).

It would be good to verify those algorithms against other browsers somehow. @mikewest do you have insight as to what Chrome does?

@sleevi is a better resource for the network stack's charset sniffing mechanisms. If he's too busy at BlinkOn this week, I'll dig around for a link. :)

Firefox appears to use http://searchfox.org/mozilla-central/source/netwerk/base/nsURLHelper.cpp#1033 for request `Content-Type` which would reject a valid MIME type such as `text/plain;hi=","`. There's not much love for commas in MIME types.

> which would reject a valid MIME type such as text/plain;hi=","

No, it would not.  @annevk, why do you think it would?

My bad, it does indeed skip quoted strings.

@annevk It sounds like Chrome is equally in a weird place :)

We have [`net::ParseMimeTypeWithoutParameter`](https://cs.chromium.org/chromium/src/net/base/mime_util.h?rcl=dd9f87319822765342f2e9ba7e32a3034bdb3260&l=60) which is part of a fallback handling path for `data:` URLs in [`DataURL::Parse`](https://cs.chromium.org/chromium/src/net/base/data_url.cc?rcl=37e7759fea9965d238c9e709ea95bfdf58605953&l=24). It would appear our parser is... uh... not the best, for `data:` URLs 

We have a separate parser for response `Content-Type` in [`net::HttpUtil::ParseContentType`](https://cs.chromium.org/chromium/src/net/http/http_util.cc?rcl=b104b5737c134b4e34a0510109e939b472555f79&l=67) and request `Content-Type` (like @bzbarsky mentioned in https://github.com/whatwg/mimesniff/issues/30#issuecomment-329834751 ), in [`blink::ParsedContentType`](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/platform/network/ParsedContentType.h?rcl=641f5fa04a2c40ca217563f4d033538c6e3de2d5&l=46). This latter implementation is used fairly extensively throughout the Blink side - that is, most Web-exposed pieces will at least be expected to transit that content type parser, but may also transit the `HttpUtil::ParseContentType` path.

For the `Response` object, it doesn't look like we parse the `Content-Type` during construction (see [`FetchHeaderList::ExtractMIMEType`](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/modules/fetch/FetchHeaderList.cpp?rcl=b104b5737c134b4e34a0510109e939b472555f79&l=63) )

Separately, for things like `canPlayType`, we have multiple places that parsing can happen. This is expressed via the [`blink::ContentType`](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/platform/network/mime/ContentType.h?rcl=b104b5737c134b4e34a0510109e939b472555f79&l=36), which is handled by Blink, but codec parsing is handled by [`media::MimeUtil`](https://cs.chromium.org/chromium/src/media/base/mime_util.h?rcl=b104b5737c134b4e34a0510109e939b472555f79&l=15). However, other aspects of media loading, such as detecting Media Capabilities, will use the above `ParsedContentType`

I'm sure we could add another dozen or so MIME type parsers before we start refactoring ;)

For MIME sniffing in particular, the determination of whether or not to sniff is using the `net::HttpUtil::ParseContentType` logic, by virtue of [`HttpResponseHeaders::GetMimeTypeAndCharset`](https://cs.chromium.org/chromium/src/net/http/http_response_headers.cc?rcl=16998683979b56208252c259ea550ad4c82af935&l=847) setting the Response's mime_type for HTTP-network-loads feeding into [`content::ShouldSniffContent`](https://cs.chromium.org/chromium/src/content/common/loader_util.h?rcl=16998683979b56208252c259ea550ad4c82af935&l=23). However, it gets 'messy' for other form of loads, because it's [implementation-dependent](https://cs.chromium.org/chromium/src/net/url_request/url_request_job.h?rcl=6ff1170193fb676372089bbe321287e1db5a1d51&l=212). A quick scan through implementations suggest they're using the same implementation, but my above remarks about the Blink-vs-network layer means that it may have been 'double parsed' (by both Blink and then network).

@mikewest Is that what you were hoping for? :)

```
HTTP/1.1 200
Content-Length: 11
Content-Type: text/html
Content-Type: text/plain

<b>TEST</b>
```
Rendered as `text/plain`: Firefox, Chrome, Safari
Rendered as `text/html`: Edge
```
HTTP/1.1 200
Content-Length: 11
Content-Type: text/html, text/plain

<b>TEST</b>
```
Rendered as text/plain: Firefox, Chrome
Rendered as text/html: Safari
Download: Edge

That means there's already inconsistency between multiple headers and combined headers. I was led to believe that was only the case for cookies. Hopefully we can still make it so somehow.

```
HTTP/1.1 200
Content-Length: 11
Content-Type: unknown/unknown
Content-Type: text/html

<b>TEST</b>
```
```
HTTP/1.1 200
Content-Length: 11
Content-Type: unknown/unknown, text/html

<b>TEST</b>
```
Both rendered as text/html: Chrome, Firefox, Safari
Both download: Edge

If I reverse the order and list `text/html` first and then `unknown/unknown`, then:

* Chrome, Safari: render all as `text/html`
* Edge: renders the separate header version, downloads comma version (as expected)
* Firefox: downloads both

If I list `*/*` last then only Firefox changes and will render both as `text/html`.

(It's not entirely clear to me why Chrome special cases `*/*` in its code still.)

Given the lack of interoperability it's not clear to me that the complicated `Content-Type` parsers in Chrome, Firefox, and Safari are totally warranted.

Unfortunately Edge is not as consistent in its download story as I hoped.
```
HTTP/1.1 200
Content-Length: 55
Content-Type: text/html;charset=utf-8
Content-Type: */*;charset=gbk

<script>document.write(document.characterSet)</script>
```
Chrome, Safari: GBK
Edge: utf-8 (effectively the same as Firefox, but with a "minor" API bug)
Firefox: UTF-8
```
HTTP/1.1 200
Content-Length: 55
Content-Type: text/html;charset=utf-8, */*;charset=gbk

<script>document.write(document.characterSet)</script>
```
Chrome: GBK
Edge: windows-1252 (no download despite the comma)
Firefox, Safari: UTF-8

So far it sounds to me like Chrome and Firefox consistently treat:

    Content-Type: foo
    Content-Type: bar

identically to:

    Content-Type: foo, bar

though they may not always agree on how the latter is treated.  For Firefox this is expected, because the HTTP response header type in Firefox has no representation for "repeated headers" last I checked; they get turned into a comma-separated list.  So the second form is all that the rest of the system sees.  I can't speak for how Chrome handles this.

Safari's behavior for the `unknown/unknown, text/html` case is pretty weird, given its earlier behavior for `text/html, text/plain`.  It's like the parser includes a validator of some sort, or whitelisting or something.

It's possible that Firefox treats `*/*` as a "sniff this" signal; I'd have to step through the code.



I found a case for Firefox where that is not true:
```
HTTP/1.1 200
Content-Length: 55
Content-Type: text/plain;charset=gbk
Content-Type: text/html

<script>document.write(document.characterSet)</script>
```
Results in GBK
```
HTTP/1.1 200
Content-Length: 55
Content-Type: text/plain;charset=gbk, text/html

<script>document.write(document.characterSet)</script>
```
Results in windows-1252.

For the first resource the developer console doesn't list the second `Content-Type` header either, which suggests there's something preserving the difference through the system somehow.

(Edge renders those as text/plain, Chrome always says windows-1252, and Safari renders the comma version as text/plain and says windows-1252 for the other.)

(We should probably treat this as a bug in Firefox. I don't really think we want to go down the rathole of having to care about this difference.)

Oh, hmm.  Looks like I was wrong and Gecko actually stopped merging Content-Type headers in https://bugzilla.mozilla.org/show_bug.cgi?id=655389 (only keeping the last one) but then I don't understand the results with charset=gbk in your two-header case; I would have thought we would replave the first value with the second one, based on code inspection.

I'd appreciate a pointer to a testcase that has those headers so I can figure out what's actually going on.

Given the security implications in https://bugzilla.mozilla.org/show_bug.cgi?id=655389 I also think we should be a little careful about assuming which behaviors are OK here without talking to domain experts.  :(

@bzbarsky you can copy-and-paste my tests, save them as [something].asis within web-platform-tests, and then run them. Deploying these is a little harder as I don't have an instance of the web-platform-tests server running.

Thanks, that works beautifully.

So two corrections to Gecko behavior:

1.  It _can_ in fact store multiple Content-Type headers.  What that does in practice I didn't look into.
2. Every time it sees a Content-Type header it calls http://searchfox.org/mozilla-central/rev/e62604a97286f49993eb29c493672c17c7398da9/netwerk/base/nsURLHelper.cpp#978 on the value.  This does not depend on whether it's seen other headers or not.  This function will parse out the actual MIME type and the charset and save them to the overall "response head" struct.  Importantly, it will NOT clobber existing values in that struct if they're not present in the header.  So in the example above, the first header gets parsed, sets type to `text/plain` and charset to `gbk`.  The second header gets parsed, sets type to `text/html` and doesn't clobber the existing charset value.

Given that, I would also consider this a bug in Gecko.  It should clear out the existing type/charset every time it goes to parse a Content-Type header....

Is this fixed by https://github.com/whatwg/mimesniff/pull/36?

@SimonSapin unfortunately, no. Both request and response `Content-Type` header parsing end up delegating to the MIME type parser at some point, but both have their own quirks on top. I haven't yet written enough tests to define those aspects of `Content-Type` (another question is how much of the logic is shared across browsers and how much is needed for compatibility).

I started working on tests for this (basically the above, but generalized): https://github.com/w3c/web-platform-tests/pull/10525. It's not complete (e.g., only tests a single response header and only `<iframe>` as a context), but feedback on the general setup would be much appreciated at this point. Thanks!

Having written more tests, here are my observations on parsing of `Content-Type` as a response header:

* Chrome and Firefox almost never differ between multiple headers with one value and a single header with comma-separated values. They are close and I hope they are willing to address the differences. The main difficulty here is if the first header has `text/html;x="` as value and a subsequent header has `text/plain;x="` as value. Is that `text/html;x=",text/plain;x="` or parsed twice and therefore `text/plain;x=""`? I hope we can agree the former would be better. (Ideally for all headers apart from `Set-Cookie` we make these two scenarios behave identically.)
* Chrome and Firefox pay special attention to */* by discarding it; Chrome only does so when there’s no parameters. Safari seems to download. Edge seems to fail randomly.
* From code inspection Chrome and Firefox care about extracting the MIME type's essence and the `charset` parameter (and sometimes the `boundary` parameter). If there's multiple `Content-Type` headers (or multiple values) the `charset` parameter might be reused if the MIME type's essence of a subsequent header/value is the same. That’s somewhat incompatible with extracting a full MIME type, although we could make do by just setting the `charset` parameter on the last MIME type I suppose.

This would lead to me to suggest the following parsing algorithm:

1. Let _charset_ be null.
2. Let _essence_ be null.
3. Let _mimeType_ be null.
4. Let _contentTypeHeader_ be the combined value of all `Content-Type` headers.
5. For each _value_ of _contentTypeHeader_ (assume we deal with , inside " to find these values correctly):
   1. Set _mimeType_ to the result of parsing _value_ as a MIME type.
   2. If _essence_ is not _mimeType_'s essence and _mimeType_'s essence is not "*/*", then:
      1. Set _charset_ to null.
      2. If _mimeType_'s parameters["charset"] exists, then set _charset_ to it.
      3. Set _essence_ to _mimeType_'s essence.
   3. Otherwise, if _essence_ is _mimeType_'s essence:
      1. If _mimeType_'s parameters["charset"] does not exist and _charset_ is non-null, then set
         _mimeType_'s parameters["charset"] to _charset_.
6. Return _mimeType_.

(Probably to be defined in Fetch.)

Then the stricter parser for request `Content-Type` would be equivalent, but error on multiple values.

Then there's a question of which parser we use where. Do `Request` and `Response` use the stricter parser always or should they follow what navigation needs to do? Given the current interoperability there it doesn't seem to matter much. Perhaps using the stricter parser where we can get away with it would be good.

Input on all this much appreciated.

cc @bencebeky @MattMenke2 @youennf

@MattMenke2 that's an excellent point. I guess that needs more research across headers to see what actually happens, but I'm assuming you do agree that
```
foo: bar
foo: baz
```
and
```
foo: bar, baz
```
for any foo other than `Set-Cookie` and any bar and any baz should be parsed identically (as middleware is allowed to combine, etc.)?

It seems like the only consistent handling may be to make commas take precedence over quotes, to the extent that commas can never appear in any field, quoted or not, that supports general merging like that.

Sorry, by "field" I mean value.  i.e.,
foo: ","

would always be the same as
foo: "
foo: "

And
Content-Encoding: text/html; charset="foo,bar"
would be the same as:
Content-Encoding: text/html; charset="foo
Context-Encoding: bar"

So, with those rules:

Content-Type: text/html; charset=foo
Content-Type: text/html
would be equivalent to "text/html; charset=foo"

and

Content-Type: text/html; charset=foo
Content-Type: text/plain
Content-Type: text/html
would be equivalent to "text/html"

I can live with that.  If we could get away with it, I'd love if we could unconditionally just take the first one.  I thought an earlier comment suggested that's what Edge and Safari do?

On the topic of header parsing, I think the way to go would be to always combine (except for Set-Cookie) and then define all the parsers for the combined value. Then how you deal with quotes and such becomes a question on a per-header-parser basis. I.e., the `foo` header parser only ever sees `bar,baz` and is only invoked once. That seems like the only way to guarantee consistency.

As for `Content-Type`, I'll look a bit closer at Edge/Safari since you're willing to flip Chrome and report back.

Merging and handling commas on a per-header basis works, though I'd be worried about more breakages.  And, at least in Chrome, it would require rewriting basically every handler, possibly significantly, just for the comma case - something that I'm worried will not end up happening.

@MattMenke2 - header folding can be done the same way for *all* fields, as required by the HTTP spec. The only exception is Set-Cookie, as described in https://greenbytes.de/tech/webdav/rfc7230.html#rfc.section.3.2.2.

That said, *parsing* of these values needs to be specific to the header field, as it requires knowledge of the syntax of individual list elements. You can't split on "," dues to commas appearing in the literal value.


Chrome treats "*/*" as an unknown MIME type, like "", "application/unknown", "unknown/unknown", or any type that lacks a slash, with a comment about matching FireFox's behavior for "*/*".

Oops, those "/" should be "\*/\*" - didn't realize that Git Hub supports some sort of markup.

My preferred way of dealing with `"` and `,` would be to combine first and then split on `,` that are not enclosed by `"`s. So while you scan the combined string `"` sets a _do not split flag_ and a subsequent `"` unsets it. As long as the _do not split flag_ is set `,` will not create a new value but instead be appended to the current value.

If you wanted a more efficient approach to this you would not even have to combine first, but you do have to parse all of them at once. So as you reach the end of the first header value you'd simply continue with the second header value while retaining all the current state of the parser (e.g., the _do not split flag_).

The "controversial" case here is that this would mean that `text/html;", text/plain` (combined or separate header fields) ends up as `text/html`, whereas " isn't a valid parameter name to begin with. Given that this only affects erroneous cases (using quoted strings in the wrong place) that seems okay to me though and keeps splitting fairly straightforward.

Aside from https://github.com/web-platform-tests/wpt/pull/10525 I'll write some more tests for `Content-Type` in the context of the `script` element, as it will be easier to test invalid values there (those that would result in a download for `iframe`). If someone has an even easier way to test all kinds of response `Content-Type` processing I'm all ears.

(Note that the request `Content-Type` parser @bzbarsky was concerned with is covered by https://github.com/whatwg/fetch/pull/829 and tests linked from there and I consider solved at this point. It's only response `Content-Type` parsing that's problematic as it needs to support multiple values somehow.)

cc @asankah

I added tests for the `script` element (pushed to the same PR) which indicate that at least some browsers have _different_ response `Content-Type` parsers based on context. E.g., for the `script` element Chrome uses the first value. That seems rather bad.

Sadly, not too surprising - Chrome's network stack has a lot of behaviors modeled after FireFox, while it uses a forked WebKit as its renderer, resulting in inheriting different behavior from different browsers, depending on where the code is running.

I put up an initial patch for this at https://github.com/whatwg/fetch/pull/831. Relative to https://github.com/whatwg/mimesniff/issues/30#issuecomment-382721437 it defines how splitting works (in a way that can be reused across different headers) and it deals with parsing a MIME type being able to return failure (I also added tests for this).

I still need to add tests and possibly adjust the prose for these values: the empty string, "`application/unknown`", and "`unknown/unknown`". I probably also need to read the algorithms one more time and perhaps convince @domenic to implement them in jsdom to ensure they are correct.

There is some potential for simplification here I suppose given that browsers are different, but unless we can simply use the first value always in all contexts it's unclear how much that'll buy us (the weird `charset` copying might be worth correcting though).

Empty string is treated the same as failure as far as I can tell. (I added tests.)

I'm not sure about `application/unknown` and `unknown/unknown`. Unless there's a compelling reason to add/keep them to the list I'd prefer removing them as special cases since they don't appear in Firefox's code today (only some usage that doesn't affect any processing models).

Oops. Sorry I missed this thread.

One problem with existing grammars is that splitting on `,` modulo quoted strings cannot be done by a prefix parser unless headers that use `,` in their grammar for purposes other than separating distinct header values are excluded. This was the problem with the family of authentication headers (`WWW-Authenticate`, `Authorization`, `Proxy-Authenticate`, `Proxy-Authorization`). Prior to RFC 7235 it was not possible to unambiguously parse auth headers to begin with regardless of header coalescing. After 7235, they are parsable, but requires a two token look ahead, which is unfortunate.

E.g.: From RFC 7235 § 4.1:

```
   WWW-Authenticate: Newauth realm="apps", type=1,
                     title="Login to \"apps\"", Basic realm="simple"
```
None of the commas in this header delineate values. Instead they all delineate parameters.

A contrived but valid example is below where the first and last `,`s are delineating values. Note that a lexer can't split at the last `,` until it as seen the final `=`. Hence the two token look ahead.

```
   WWW-Authenticate: , Newauth realm="apps", type=1,
                     title="Login to \"apps\"", Basic realm="simple", 
                     Basic realm="foo"
```


@asankah thanks for chiming in. It seems to me you could still split on `,` modulo `"` eagerly in line with other headers, but the parser operating on the resulting splitted values has to be aware of the semantics and context and not process these values independently of the others.

@annevk  Meaning the second example would be treated as being equivalent to

```
WWW-Authenticate:
WWW-Authenticate: Newauth realm="apps"
WWW-Authenticate: type=1
WWW-Authenticate: title="Login to \"apps\""
WWW-Authenticate: Basic realm="simple"
```

?

Thus the parser for authentication challenges would need to associate all immediately following authentication headers that match `auth-param` with the header that had a `auth-scheme`.

It is a possibility :-) , as is adding lookaheads. Though it has the property that the meaning of a header depends on headers that follow.

(Apologies if I'm misinterpreting your suggestion).

Yes, that's exactly what I mean, and that would also not make eagerly combining intermediaries yield different results in the end.